* {
  margin: 0;
  padding: 0;
}

#content {
  height: 100vh;
  width: 100vw;
  background-color: antiquewhite;
  margin-top: 57px;
  display: flex;
}

#content-section {
  width: 70%;
  border-right: solid 1px black;
  background-color: aqua;
}

#sidebar {
  width: 30%;
  background-color: aquamarine;
}

#content-nav-div {
  position: sticky;
  top: 57px;
}

#content-nav {
  border-bottom: solid 1px black;
  background-color: azure;
  height: 57px;
  margin: 0 20px;
  display: flex;
  gap: 30px;
  align-items: center;
}

.nav-tag {
  height: 100%;
  align-content: center;
}
.nav-tag:hover {
  font-weight: 800;
}

.nav-tag:active {
  border-bottom: solid 2px black;
}
